.header {
  padding-top: 100px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.header__image {
  width: 42%;
}
.header__image_content {
  position: relative;
  width: 100%;
}
.header__text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 100px;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}
.header__title-hello {
  font-size: 90px;
}
.header__subtitle {
}
.header__description {
}
